<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>results</title>
</head>
<body>
<h1>file {{name}} uploaded</h1>
  <a href="http://pysav2csv-reedrw868809.codeanyapp.com:5000">Home</a>
 <br>
 <form action="{{url_for('next')}}" method="post">
 <input type="radio", name="userAnswer", value="{{field}}">{{field}}<br>
 <input type="radio", name="userAnswer", value="{{variable}}">{{variable}}<br>
 <input type="radio", name="userAnswer", value="{{stripvariable}}">{{stripvariable}}<br>
 <input type="radio", name="userAnswer", value="{{stripnsv}}">{{stripnsv}}<br>
 <input type="radio", name="userAnswer", value="">other<br>
 <p><span>user clicked</span><input type="text" size="100" maxlength=100 name="Answer" id="Answer"></p>
   <br>
   <input type="submit" name="action" value="Next">
   <input type="submit" name="action" value="Prev">
  </form>
 <script type="text/javascript">
  function handleUserAnswer(e){
   var el=e.target || e.srcElement;
   console.log(el);
   document.getElementById('Answer').value=el.value;
  }
   var radios=document.getElementsByTagName('input');
   for (var i=0; i<radios.length; i++){
     var r=radios[i];
     if (r.getAttribute('name')=='userAnswer'){
       if (r.addEventListener){
         r.addEventListener('change',handleUserAnswer);
       } else if (r.attachEvent){
         r.attachEvent('onchange',handleUserAnswer);
       } else {
         r.onChange=handleUserAnswer;
       }
     }
   }
  </script>
</body>
</html>